<!DOCTYPE html>
<html lang="FR">
    <head>
        <link rel="canonical" href="https://weblevel.frude-de-cas/passtech" />

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KDGT7WQ');
        </script>

        <!-- Main -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow"/>

        <title>WebLevel Agency - Le blog, expertise et conseils en référencement SEO et développement web</title>
        <meta name="description" content="WebLevel, agence digitale à Paris, Lyon et Genève, vous donne toutes les informations et tendances du développement web et du SEO.">

        <!-- OpenGraph -->
        <meta property="og:title" content="Le blog, expertise et conseils en référencement SEO et développement web">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://weblevel.frog">
        <meta property="og:image" content="/media/site/WebLevel_banniere.webp">
        <meta property="og:image:alt" content="WebLevel blog"/>
        <meta property="og:description" content="WebLevel, agence digitale à Paris, Lyon et Genève, vous donne toutes les informations et tendances du développement web et du SEO.">

        <!-- Favicon -->
        <link rel="icon" type="image/webp" href="/media/logo/favicon.webp" sizes="32x32">

        <!-- CSS/JS -->
        <script src="https://cdn.tailwindcss.com"></script><script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "WebSite",
                "name": "WebLevel Agency",
                "url": "https://weblevel.fr
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": "{search_term_string}",
                    "query-input": "required name=search_term_string"
                }
            }
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-236329277-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-236329277-1');
        </script>
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDGT7WQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>

        <section class="gap-x-6 bg-WebLevel-light-purple px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    <p class="text-sm leading-6 text-gray-900 text-center">
        <a href="/contact">
            <span class="font-semibold">Support</span><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"> <circle cx="1" cy="1" r="1" /></svg><strong class="font-normal">Un expert web et SEO vous rappelle en moins d'1h</strong><span aria-hidden="true" class="ml-1"> &rarr;</span>
        </a>
    </p>
</section>        <header class="header bg-white z-10 navbar shadow-sm">
            <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-7" aria-label="Global">
                <div class="flex items-center gap-x-12">
                    <a href="/" class="-m-1.5 p-1.5">
                        <span class="sr-only">WebLevel</span>
                        <img class="h-8 w-auto" src="/media/logo/logo_WebLevel.webp" alt="WebLevel agency logo">
                    </a>
                    <div class="hidden lg:flex lg:gap-x-12">
                        <a href="/Création de Site Webn de Site Web" class=" font-semibold text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition dCréation de Site Web-200">Création de Site Web</a>
                        <a href="/expertises" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover duration-200">Expertises</a>
                        <a href="/creation-site-webbte-webte-web" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover  duration-200">Projets</a>
                        <a href="/projets" class="s=" font-semibold text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition duration-200">Projets</a>
                        <a href="/blog" class="text-WebLevel font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition duration-200">Blog</a>
                    </div>
                </div>
                <div class="hidden lg:flex space-x-4 items-center">
                                            <a href="tel:0649221447" class="text-sm font-semibold leading-6 text-gray-900 bg-WebLevel-light-gray hover:bg-gray-200 transition duration-200 inline-flex border border-gray-200 py-3 px-4 rounded-full items-center justify-center">
                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-2">
                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                            </svg>
                            06 49 22 14 47
                        </a>
                                        <div class="inline-flex">
                        <a href="/contact" class="flex items-center text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">
                            Demander un devis
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                            </svg>
                        </a>
                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu open state. -->
                <div x-data="{ isOpen: false }" class="lg:hidden">
                    <div class="inline-flex gap-x-3">
                        <a href="tel:0649221447" class="text-sm font-semibold leading-6 text-gray-900 bg-WebLevel-light-gray hover:bg-gray-200 transition duration-200 inline-flex border border-gray-200 py-1.5 px-4 rounded-full items-center justify-center">
                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-2">
                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                            </svg>
                            06 49 22 14 47
                        </a>
                        <button @click="isOpen = true" type="button"  class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                            <span class="sr-only">Ouvrir le menu</span>
                            <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>
                    </div>
                    <div x-show="isOpen" role="dialog" aria-modal="true">
                        <div class="fixed inset-0 z-10"></div>
                        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                        <div class="flex items-center justify-between">
                            <a href="#" class="-m-1.5 p-1.5">
                                <span class="sr-only">WebLevel</span>
                                <img class="h-8 w-auto" src="/media/logo/logo_WebLevel.webp" alt="WebLevel agency logo mobile">
                            </a>

                                                                                    
                            <button @click="isOpen = false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                                <span class="sr-only">Fermer le menu</span>
                                <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                        <div class="mt-6 flow-root">
                            <div class="-my-6 divide-y divide-gray-500/10">
                                <div class="space-y-2 py-6">
                                    <a href="/Création de Site Webn de Site Web" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition dCréation de Site Web-200">Création de Site Web</a>
                                    <a href="/creation-site-webbte-webte-web" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Projets</a>
                                    <a href="/expertises" class=" font-semibold  -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Expertises</a>
                                    <a href="/projets" class="s=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Projets</a>
                                    <a href="/blog" class="bg-gray-100 text-WebLevel font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Blog</a>
                                </div>
                                <div class="space-y-3 py-6">
                                    <a href="/contact" class="inline-flex w-full items-center justify-center rounded-full text-center px-3 py-2.5 text-base font-semibold leading-7 text-white bg-WebLevel transition duration-200 hover:bg-WebLevel-hover">Demander un devis
                                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                                        </svg>
                                    </a>
                                                                            <a href="tel:0649221447" class="inline-flex border border-gray-200 w-full items-center justify-center rounded-full px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 bg-WebLevel-light-gray transition duration-200 hover:bg-gray-200">
                                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mr-2 mt-1">
                                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                                            </svg>
                                            06 49 22 14 47
                                        </a>
                                                                    </div>
                            </div></div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

            <main>
        <section class="bg-WebLevel-dark-blue">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="py-20">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-2xl lg:mx-0">
                            <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Le blog</h1>
                            <p class="mt-6 text-lg leading-8 text-WebLevel-text-gray">Découvrez nos conseils sur le développement web, les actualités autour du SEO, de l'e-commerce et du digital.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="py-24">
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                                                    <article class="flex flex-col items-start justify-between bg-WebLevel-light-gray rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/shopify-comment-et-pourquoi-l-utiliser">
                                        <img src="/media/blog/575_ID653a1c011513c.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="26/10/2023" class="text-gray-500 capitalize">
                                                                                            26 oct. 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Tech</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/shopify-comment-et-pourquoi-l-utiliser">
                                                <span class="absolute inset-0"></span>
                                                Shopify : comment et pourquoi l&#039;utiliser ?
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                        Salut à vous, chers explorateurs du web ! Aujourd&#039;hui, je vais vous parler d&#039;une véritable pépite pour la création de site :
                            Shopify..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/592_ID6527ad7d76c73.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Abdel Ferdjani
                                            </p>
                                            <p class="text-gray-600">Product owner</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-WebLevel-light-gray rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/15-termes-a-connaitre-dans-le-developpement-web">
                                        <img src="/media/blog/575_ID6530f038f1030.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="19/10/2023" class="text-gray-500 capitalize">
                                                                                            19 oct. 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Développement</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/15-termes-a-connaitre-dans-le-developpement-web">
                                                <span class="absolute inset-0"></span>
                                                15 termes à connaître dans le développement web
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                        Cet article regroupe les définitions des termes les plus courants dans le développement web.
                            Il est destiné à tous ceux qui s’intéressent à ce domaine et qui voudraient avoir un aperçu..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/575_ID65194ac0071c5.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Benjamin Roche
                                            </p>
                                            <p class="text-gray-600">Chef de projet</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-WebLevel-light-gray rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/qu-est-ce-qu-une-agence-web-digitale">
                                        <img src="/media/blog/575_ID6527a9b7584a4.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="12/10/2023" class="text-gray-500 capitalize">
                                                                                            12 oct. 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Actualité</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/qu-est-ce-qu-une-agence-web-digitale">
                                                <span class="absolute inset-0"></span>
                                                Qu&#039;est-ce qu&#039;une agence web / digitale ?
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">                    
                        Vous vous êtes probablement déjà demandé : qu&#039;est-ce qu&#039;une agence web ? On entend souvent parler d&#039;Création de Site Webn de Site Web web et digitales, mais qu&#039;est-ce que cela signifie réellement ? Quels sont leurs ob..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/592_ID6527ad7d76c73.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Abdel Ferdjani
                                            </p>
                                            <p class="text-gray-600">Product owner</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-WebLevel-light-gray rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/creer-un-site-wordpress-les-indispensables">
                                        <img src="/media/blog/575_ID651fef685ceb1.jpg" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="06/10/2023" class="text-gray-500 capitalize">
                                                                                            6 oct. 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Développement</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/creer-un-site-wordpress-les-indispensables">
                                                <span class="absolute inset-0"></span>
                                                Créer un Site WordPress : Les Indispensables
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            WordPress est une plateforme de création de sites web qui a révolutionné la manière dont les gens publient et gèrent leur contenu en ligne.
            Avec une interface conviviale et une multitude de fonctionn..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/575_ID65194ac0071c5.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Benjamin Roche
                                            </p>
                                            <p class="text-gray-600">Chef de projet</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-WebLevel-light-gray rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/nouvelle-agence-web-et-seo-a-geneve">
                                        <img src="/media/blog/WebLevel-geneve.webp" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="30/08/2023" class="text-gray-500 capitalize">
                                                                                            30 août 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Actualité</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/nouvelle-agence-web-et-seo-a-geneve">
                                                <span class="absolute inset-0"></span>
                                                Nouvelle agence web en Suisse : WebLevel s&#039;installe à Genève

                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
  Depuis 2019, année de création d’WebLevel à Lyon, notre agence web parcourt toute la France pour accompagner les entreprises à développer leur site web et à acquérir de nouveaux clients.
  Ces dernières années ont été marq..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/591_ID64ec68912c8f7.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Charles Mata
                                            </p>
                                            <p class="text-gray-600">Chef de projet</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-WebLevel-light-gray rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/refonte-de-notre-site-web">
                                        <img src="/media/blog/WebLevel-refonte.webp" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="16/08/2023" class="text-gray-500 capitalize">
                                                                                            16 août 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Actualité</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/refonte-de-notre-site-web">
                                                <span class="absolute inset-0"></span>
                                                WebLevel : Refonte de notre site internet
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
  En cette période marquée à la fois par l&#039;ouverture de nos bureaux à Genève et par la redéfinition de Projets, nous sommes ravis de vous dévoiler notre tout nouveau site web.
  ..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/591_ID64ec68912c8f7.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Charles Mata
                                            </p>
                                            <p class="text-gray-600">Chef de projet</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                                    <article class="flex flex-col items-start justify-between bg-WebLevel-light-gray rounded-2xl">
                                <div class="relative w-full">
                                    <a href="/blog/notre-processus-de-developpement-web">
                                        <img src="/media/blog/WebLevel-processus.webp" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                                    </a>
                                </div>
                                <div class="max-w-xl p-5 mt-3 mb-3">
                                    <div class="flex items-center gap-x-4 text-xs">
                                        <time datetime="28/07/2023" class="text-gray-500 capitalize">
                                                                                            28 juil. 2023
                                                                                    </time>
                                        <div class="relative rounded-full bg-WebLevel-light-purple px-3 py-1.5 font-medium text-gray-600">Informatique</div>
                                    </div>
                                    <div class="group relative">
                                        <h2 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                            <a href="/blog/notre-processus-de-developpement-web">
                                                <span class="absolute inset-0"></span>
                                                De l’idée à la réalité : notre processus de développement web
                                            </a>
                                        </h2>
                                        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
  Aujourd’hui je vous propose de vous expliquer notre démarche de prise en charge de votre projet web, pour que vous ayez un premier aperçu de comment se déroule la collaboration avec nos clients.
  Chaque projet que l’on prend en main ..</p>
                                    </div>
                                    <div class="relative mt-8 flex items-center gap-x-4">
                                        <img src="/media/ProfilePicture/575_ID65194ac0071c5.jpg" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                                        <div class="text-sm leading-6">
                                            <p class="font-semibold text-gray-900">
                                                <span class="absolute inset-0"></span>
                                                Benjamin Roche
                                            </p>
                                            <p class="text-gray-600">Chef de projet</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                                            </div>
                </div>
            </div>
        </section>
    </main>

                    <section class="bg-WebLevel-light-purple">
    <div class="px-6 py-20 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="font-bold tracking-tight text-gray-900 text-3xl md:text-4xl">Vous avez un projet ?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 font-semibold text-gray-600">Nous concevons des sites internet uniques référencés sur les moteurs de recherche. Un conseiller vous rappelle en moins d'1h.</p>
            <div class="mt-6 flex -space-x-2 justify-center items-center">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_charles.webp" alt="Photo de profil Charles">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_abdel.webp" alt="Photo de profil Benoit">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_benjamin.webp" alt="Photo de profil Benjamin">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_lucie.webp" alt="Photo de profil Lucie">
            </div>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/contact" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Contactez-nous <span class="ml-2 mt-0.5" aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>
        
        <footer class="bg-white" aria-labelledby="footer-heading">
            <h2 id="footer-heading" class="sr-only">Footer</h2>
            <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
                <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                    <div class="space-y-6">
                        <img class="h-8" src="/media/logo/logo_WebLevel_long.webp" alt="WebLevel agency logo">
                                                                                                <p class="text-sm leading-6 text-gray-600"><strong class="font-normal">Agence digitale spécialisée dans la création de sites internet et le référencement SEO</strong>, à Paris, Lyon et Genève.</p>
                        <div class="flex space-x-6">
                            <a href="https://www.sortlist.com/agency/WebLevel" target="_blank" style="display:inline-block; width:160px; height:40px;"><img src="/media/site/sortlist.webp" alt="sortlist"/></a>
                        </div>
                    </div>
                    <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-semibold leading-6 text-gray-900">Menu</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/Création de Site Webn de Site Web" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition dCréation de Site Web-200">Création de Site Web</a>
                                    </li>
                                    <li>
                                        <a href="/creation-site-webbte-webte-web" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Projets</a>
                                    </li>
                                    <li>
                                        <a href="/expertises" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Expertises</a>
                                    </li>
                                    <li>
                                        <a href="/projets" class="s=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Projets</a>
                                    </li>
                                    <li>
                                        <a href="/blog" class="text-WebLevel hover:text-WebLevel-hover text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-semibold leading-6 text-gray-900">Ressources</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/contact" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Contactez-nous</a>
                                    </li>
                                                                            <li>
                                            <a href="/connexion" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Connexion</a>
                                        </li>
                                        <li>
                                            <a href="/inscription" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Inscription</a>
                                        </li>
                                                                    </ul>
                            </div>
                        </div>
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-bold leading-6 text-gray-900">Légal</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/mentions-legales" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Mentions légales</a>
                                    </li>
                                    <li>
                                        <a href="/cgv" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">CGV</a>
                                    </li>
                                    <li>
                                        <a href="/cgu" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">CGU</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-bold leading-6 text-gray-900">Création de Site Webn de Site Web</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/agence/paris/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Paris</a>
                                    </li>
                                    <li>
                                        <a href="/agence/lyon/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Lyon</a>
                                    </li>
                                    <li>
                                        <a href="/agence/geneve/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Genève</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
                    <p class="text-xs leading-5 text-gray-500">&copy; 2019 - 2024 WebLevel Agency. Tous droits réservés. <a href="/sitemap" class="hover:text-gray-400 transition duration-200">Sitemap</a></p>
                </div>
            </div>
        </footer>
    </body>
    <script>
        window.axeptioSettings = {
            clientId: "64cf6e276b3b964999d70144",
            cookiesVersion: "WebLevel-fr",
        };

        (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
</html>
