<!DOCTYPE html>
<html lang="FR">
    <head>
        <link rel="canonical" href="https://weblevel.fru" />

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KDGT7WQ');
        </script>

        <!-- Main -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow"/>

        <title>WebLevel Agency - Conditions générales d'utilisation</title>
        <meta name="description" content="">

        <!-- OpenGraph -->
        <meta property="og:title" content="Conditions générales d'utilisation">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://weblevel.fru">
        <meta property="og:image" content="/media/site/WebLevel_banniere.webp">
        <meta property="og:image:alt" content="WebLevel CGU"/>
        <meta property="og:description" content="">

        <!-- Favicon -->
        <link rel="icon" type="image/webp" href="/media/logo/favicon.webp" sizes="32x32">

        <!-- CSS/JS -->
        <script src="https://cdn.tailwindcss.com"></script><script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "WebSite",
                "name": "WebLevel Agency",
                "url": "https://weblevel.fr
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": "{search_term_string}",
                    "query-input": "required name=search_term_string"
                }
            }
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-236329277-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-236329277-1');
        </script>
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDGT7WQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>

        <section class="gap-x-6 bg-WebLevel-light-purple px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    <p class="text-sm leading-6 text-gray-900 text-center">
        <a href="/contact">
            <span class="font-semibold">Support</span><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"> <circle cx="1" cy="1" r="1" /></svg><strong class="font-normal">Un expert web et SEO vous rappelle en moins d'1h</strong><span aria-hidden="true" class="ml-1"> &rarr;</span>
        </a>
    </p>
</section>        <header class="header bg-white z-10 navbar shadow-sm">
            <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-7" aria-label="Global">
                <div class="flex items-center gap-x-12">
                    <a href="/" class="-m-1.5 p-1.5">
                        <span class="sr-only">WebLevel</span>
                        <img class="h-8 w-auto" src="/media/logo/logo_WebLevel.webp" alt="WebLevel agency logo">
                    </a>
                    <div class="hidden lg:flex lg:gap-x-12">
                        <a href="/Création de Site Webn de Site Web" class=" font-semibold text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition dCréation de Site Web-200">Création de Site Web</a>
                        <a href="/expertises" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover duration-200">Expertises</a>
                        <a href="/creation-site-webbte-web" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover  duration-200">Projets</a>
                        <a href="/projets" class=" font-semibold text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition duration-200">Projets</a>
                        <a href="/blog" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition duration-200">Blog</a>
                    </div>
                </div>
                <div class="hidden lg:flex space-x-4 items-center">
                                            <a href="tel:0649221447" class="text-sm font-semibold leading-6 text-gray-900 bg-WebLevel-light-gray hover:bg-gray-200 transition duration-200 inline-flex border border-gray-200 py-3 px-4 rounded-full items-center justify-center">
                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-2">
                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                            </svg>
                            06 49 22 14 47
                        </a>
                                        <div class="inline-flex">
                        <a href="/contact" class="flex items-center text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">
                            Demander un devis
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                            </svg>
                        </a>
                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu open state. -->
                <div x-data="{ isOpen: false }" class="lg:hidden">
                    <div class="inline-flex gap-x-3">
                        <a href="tel:0649221447" class="text-sm font-semibold leading-6 text-gray-900 bg-WebLevel-light-gray hover:bg-gray-200 transition duration-200 inline-flex border border-gray-200 py-1.5 px-4 rounded-full items-center justify-center">
                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-2">
                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                            </svg>
                            06 49 22 14 47
                        </a>
                        <button @click="isOpen = true" type="button"  class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                            <span class="sr-only">Ouvrir le menu</span>
                            <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>
                    </div>
                    <div x-show="isOpen" role="dialog" aria-modal="true">
                        <div class="fixed inset-0 z-10"></div>
                        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                        <div class="flex items-center justify-between">
                            <a href="#" class="-m-1.5 p-1.5">
                                <span class="sr-only">WebLevel</span>
                                <img class="h-8 w-auto" src="/media/logo/logo_WebLevel.webp" alt="WebLevel agency logo mobile">
                            </a>

                                                                                    
                            <button @click="isOpen = false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                                <span class="sr-only">Fermer le menu</span>
                                <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                        <div class="mt-6 flow-root">
                            <div class="-my-6 divide-y divide-gray-500/10">
                                <div class="space-y-2 py-6">
                                    <a href="/Création de Site Webn de Site Web" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition dCréation de Site Web-200">Création de Site Web</a>
                                    <a href="/creation-site-webbte-web" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Projets</a>
                                    <a href="/expertises" class=" font-semibold  -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Expertises</a>
                                    <a href="/projets" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Projets</a>
                                    <a href="/blog" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Blog</a>
                                </div>
                                <div class="space-y-3 py-6">
                                    <a href="/contact" class="inline-flex w-full items-center justify-center rounded-full text-center px-3 py-2.5 text-base font-semibold leading-7 text-white bg-WebLevel transition duration-200 hover:bg-WebLevel-hover">Demander un devis
                                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                                        </svg>
                                    </a>
                                                                            <a href="tel:0649221447" class="inline-flex border border-gray-200 w-full items-center justify-center rounded-full px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 bg-WebLevel-light-gray transition duration-200 hover:bg-gray-200">
                                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mr-2 mt-1">
                                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                                            </svg>
                                            06 49 22 14 47
                                        </a>
                                                                    </div>
                            </div></div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

            <main>
        <section class="bg-WebLevel-dark-blue">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="py-20">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-3xl lg:mx-0">
                            <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Conditions générales d'utilisation</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="px-6 py-24 lg:px-8">
                <div class="mx-auto max-w-7xl text-base leading-7 text-gray-700">
                    <div class="max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Préambule et objet</h2>
                        <p class="mt-6">Le site internet www.WebLevel.agency (ci-après le «SITE») est la propriété exclusive de WebLevel Agency.</p>
                        <p class="mt-6">Adresse mail : contact@weblevel.fr</p>
                        <p class="mt-6">Les présentes conditions générales d’utilisation ont vocation à s’appliquer à toute personne naviguant sur le SITE (ci-après «l’INTERNAUTE» ou collectivement «les INTERNAUTES»). </p>
                        <p class="mt-6">En utilisant le SITE, l’INTERNAUTE reconnaît expressément être lié par les présentes conditions générales d’utilisation telles que définies ci-après, les accepter et les respecter.  </p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Informations présentées sur le SITE </h2>
                        <p class="mt-6">Les photographies et images présentes sur le SITE sont non-contractuelles.</p>
                    </div>
                    <div class=" mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Liens vers d’autres sites</h2>
                        <p class="mt-6">Le SITE peut contenir des hyperliens ou pointer de toute autre manière vers des sites web ou des pages web administrées par de tierces parties. WebLevel n’est en aucun cas responsable de leur contenu et de leurs caractéristiques. Le fait que WebLevel propose des liens n’implique en aucun cas l’approbation implicite du contenu de ces sites ou pages web. </p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Garanties et responsabilités </h2>
                            <p class="mt-6">WebLevel décline toute responsabilité notamment :</p>
                            <p class="mt-2">- pour toute interruption du fonctionnement du SITE</p>
                            <p class="mt-2">- pour toute survenance de bogues</p>
                            <p class="mt-2">- pour tout dommage résultant d'une intrusion frauduleuse d'un tiers ayant entraîné une modification des informations mises à disposition sur le SITE</p>
                            <p class="mt-2">- si un des liens hypertextes référencés sur le SITE venait à fournir un contenu contraire à la bienséance et aux lois en vigueur</p>
                            <p class="mt-6">De manière générale, WebLevel décline toute responsabilité pour tout dommage, matériel ou immatériel, direct ou indirect, quelles qu'en soient les causes, origines, natures ou conséquences en ce compris notamment les pertes de profits, de clientèle, de données ou toute autre perte de biens incorporels pouvant survenir à raison de l'accès de quiconque au SITE ou de l'impossibilité d'y accéder ou du crédit accordé à une quelconque information provenant directement ou indirectement de ce dernier. </p>
                            <p class="mt-6">Les INTERNAUTES déclarent connaître et comprendre internet, ses aléas et ses limites et notamment ses caractéristiques fonctionnelles et performances techniques, les risques d'interruption, les temps de réponses pour consulter, interroger ou transférer des informations, les risques, quels qu'ils soient, inhérents à toute connexion sur le réseau. </p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Propriété intellectuelle</h2>
                        <p class="mt-6">Sont de la propriété de WebLevel et soumis aux lois régissant la propriété intellectuelle, notamment la mise en page, la structure et les éléments graphiques et textuels ainsi que les logiciels, textes, vidéos, images animées ou non, son savoir-faire et tous les autres éléments composant le SITE. </p>
                        <p class="mt-6">L’utilisation du SITE ne confère aucun droit aux INTERNAUTES. Ces droits restent la propriété exclusive de WebLevel. </p>
                        <p class="mt-6">Ainsi, tous les textes, données, logos, images, vidéos, photographies, marques (sans que cette liste ne soit exhaustive) reproduits sur le SITE sont réservés et protégés par le Code de la Propriété intellectuelle, notamment les droits d’auteurs, le droit des marques, etc. Toute utilisation et/ou reproduction est interdite et constitutive de contrefaçon sanctionnable conformément aux dispositions dudit Code. </p>
                        <p class="mt-6">En conséquence, les INTERNAUTES ne peuvent en aucun cas et d’aucune manière, reproduire, représenter, diffuser, commercialiser, concéder tout ou partie de l’un quelconque des éléments reproduits sur le SITE et tout ou partie du SITE en général, sans l’accord préalable et exprès de WebLevel. </p>
                        <p class="mt-6">En outre, il est interdit aux INTERNAUTES de réaliser des copies du SITE sans l’autorisation préalable de WebLevel. </p>
                        <p class="mt-6">Toute utilisation illicite de tout ou partie du SITE pourra donner lieu à des poursuites.</p>
                        <p class="mt-6">La création d’un lien vers le SITE doit faire l’objet d’une autorisation préalable et écrite de la part de WebLevel.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Données personnelles</h2>
                        <p class="mt-6 underline">Typologie des données collectées :</p>
                        <p class="mt-6">Les données collectées et ultérieurement traitées par WebLevel sont celles que le Client transmet volontairement via le formulaire de contact sur le SITE à WebLevel. Ces données correspondent au nom et à l’email de l’INTERNAUTE.</p>
                        <p class="mt-6 underline">Finalité de la collecte des données personnelles :</p>
                        <p class="mt-6">Les INTERNAUTES autorisent WebLevel à sauvegarder ces informations personnelles dans un fichier de WebLevel, en vue du traitement de son courriel de contact.</p>
                        <p class="mt-6">Ces données seront également utilisées pour répondre à l’INTERNAUTE.</p>
                        <p class="mt-6 underline">Transmission des données à des tiers :</p>
                        <p class="mt-6">Les données collectées pourront être, dans la mesure où cela s’avère nécessaire au regard des finalités énoncées ci-dessus, transmises aux prestataires techniques de WebLevel (prestataires informatiques, hébergeurs…) afin de répondre favorablement aux demandes de l’INTERNAUTE. </p>
                        <p class="mt-6">WebLevel s’engage à ne pas transmettre les données fournies à des tiers autres et hors de l’Union européenne.</p>
                        <p class="mt-6 underline">Conservation des données :</p>
                        <p class="mt-6">Les données collectées sont stockées et sont conservées pour une durée de 1 mois à compter de la réalisation des finalités visées ci-dessus dans le respect de la législation en vigueur.</p>
                        <p class="mt-6 underline">Droit d’accès et de rectification :</p>
                        <p class="mt-6">L’INTERNAUTE est informé que, conformément aux réglementations françaises et européennes en vigueur, il dispose des droits suivants sous réserve de justifier de son identité : </p>
                        <p class="mt-6">• Le droit de s'opposer, pour des motifs légitimes, à ce que les données à caractère personnel le concernant fassent l'objet de traitements autres que ceux annoncés aux présentes auxquels il a consenti ; </p>
                        <p class="mt-6">• Le droit de s'opposer, sans frais, à ce que les données collectées fassent l'objet d'un traitement commercial actuel ou futur par le responsable du traitement ; </p>
                        <p class="mt-6">• Le droit de s'informer sur les traitements auxquels ses données à caractère personnel donnent lieu ; </p>
                        <p class="mt-6">• Le droit d'obtenir des informations relatives aux traitements concernant les données à caractère personnel gérées par WebLevel et toutes informations permettant de connaître et, au besoin, contester la logique qui préside aux traitements des dites données ; </p>
                        <p class="mt-6">• Le droit d'obtenir copie des données à caractère personnel le concernant, ainsi qu'un droit de rectification, de portabilité, de mise à jour ou de suppression de tout ou partie des dites données ; </p>
                        <p class="mt-6">Pour toute question ou demande relative à la protection de la vie privée, les INTERNAUTES pourront contacter WebLevel à l’adresse suivante : contact@weblevel.fr</p>
                        <p class="mt-6">L’INTERNAUTE est informé que s’il ne souhaite pas faire l’objet de prospection commerciale par voie téléphonique, il peut s’inscrire gratuitement sur une liste d’opposition au démarchage, par exemple : www.bloctel.gouv.fr. </p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Cookies</h2>
                        <p class="mt-6">Un cookie est un fichier texte installé sur le disque dur du terminal de connexion, à la demande du site consulté par un navigateur. Il enregistre des informations relatives à la navigation sur internet et permet audit site de déterminer si ce même navigateur s’est déjà connecté auparavant. Sa durée de conservation est définie par l’exploitant du site et peut se limiter à la session de navigation sur le site en question ou lui être supérieure. </p>
                        <p class="mt-6">Conformément à l’Ordonnance du 24 août 2011 relative à l’application des directives européennes en matière de protection de la vie privée sur Internet, un cookie ne peut être implanté sur l’ordinateur des INTERNAUTES sans leur consentement préalable. </p>
                        <p class="mt-6">Pour information, les cookies utilisés sur le SITE par WebLevel sont les suivants :</p>
                        <p class="mt-6"><span class="font-semibold">Cookies nécessaires :</span> ces cookies sont nécessaires pour que vous puissiez utiliser certaines fonctionnalités importantes sur notre site Web, telles que la connexion. Ces cookies ne collectent aucune information personnelle.</p>
                        <p class="mt-6"><span class="font-semibold">Cookies de fonctionnalité :</span> ces cookies fournissent des fonctionnalités qui rendent l'utilisation de notre service plus pratique et permettent d'offrir des fonctionnalités plus personnalisées. Par exemple, ils peuvent se souvenir de votre nom et de votre adresse e-mail dans des formulaires de commentaire. Vous n'avez donc pas besoin de ressaisir cette information la prochaine fois que vous commentez.
                        <p class="mt-6"><span class="font-semibold">Cookies analytiques :</span> ces cookies sont utilisés pour suivre l'utilisation et les performances de notre site Web et de nos services</p>
                        <p class="mt-6"><span class="font-semibold">Cookies publicitaires :</span></p>
                        <p class="mt-6">Ces cookies sont utilisés pour diffuser des publicités pertinentes pour vous et vos intérêts. En outre, ils sont utilisés pour limiter le nombre de fois que vous voyez une publicité. Ils sont généralement placés sur le site Web par des réseaux publicitaires avec la permission de l'opérateur du site. Ces cookies se souviennent que vous avez visité un site Web et que ces informations sont partagées avec d'autres organisations telles que les annonceurs. Souvent, les cookies de ciblage ou de publicité seront liés aux fonctionnalités du site fournies par l'autre organisation.</p>
                        <p class="mt-6">Par ailleurs, les INTERNAUTES conservent la possibilité de refuser l’implantation de « cookies » en configurant leur navigateur selon la procédure propre à leur navigateur.</p>
                        <p class="mt-6">Toutefois, il est précisé que les INTERNAUTES ne pourront pas bénéficier de certaines fonctionnalités du SITE s’ils n’acceptent pas l’implantation de cookies, notamment: les pProjets de navigation, l'accès aux services personnalisés… </p>
                        <p class="mt-6">Le SITE renvoie à des «plugins sociaux» (Facebook, Instagram, LinkedIn, YouTube…) qui permettent de proposer la recommandation de contenus, d’utiliser des données de profils pour des commentaires, l’enregistrement ou la complétion de formulaires ou d’afficher des contenus en provenance des sites sociaux. WebLevel n’est pas responsable de l’implémentation par le(s) réseau(x) social(aux) de cookies-tiers sur l’ordinateur des INTERNAUTES.  </p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Sécurité</h2>
                        <p class="mt-6">WebLevel porte une attention particulière à la protection des données personnelles des INTERNAUTES contre toute forme de dommage, perte, détournement, intrusion, divulgation, altération ou destruction.  </p>
                        <p class="mt-6">Cette vigilance s’effectue :</p>
                        <p class="mt-6">•par l’utilisation de protocoles sécurisés pour la communication et le transfert de données (tel que HTTPS)</p>
                        <p class="mt-6">• par la pseudonymisation et/ou l’anonymisation des données lorsque cela est possible</p>
                        <p class="mt-6">• par le blocage IP s’il est détecté que celle-ci est originaire d’une localisation ayant fait l’objet de faits frauduleux</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Modifications des présentes conditions générales d’utilisation</h2>
                        <p class="mt-6">WebLevel se réserve le droit de modifier les dispositions des présentes conditions générales d’utilisation, et ce à tout moment et sans préavis. Les INTERNAUTES seront automatiquement liés par ces modifications et devront donc périodiquement vérifier si leur utilisation du SITE est conforme aux dispositions des présentes conditions générales d’utilisation. </p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">Loi applicable, compétence juridictionnelle </h2>
                        <p class="mt-6">L’exploitation et l’utilisation du SITE sont soumises au droit français</p>
                        <p class="mt-6">En cas de litige concernant notamment l’utilisation ou le contenu du SITE, l’INTERNAUTE est informé qu’il peut recourir gratuitement à un médiateur de la consommation, après l’échec d’une tentative de règlement amiable directement auprès de WebLevel, conformément aux dispositions du code de la consommation.</p>
                        <p class="mt-6">L’INTERNAUTE trouvera des informations à ce sujet sur le site suivant : https://www.economie.gouv.fr/mediation-conso/saisir-mediateur </p>
                        <p class="mt-6">À défaut de médiation, la compétence juridictionnelle est celle des tribunaux français. Le tribunal compétent sera désigné selon les règles de procédure en vigueur en France. </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

                    <section class="bg-WebLevel-light-purple">
    <div class="px-6 py-20 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="font-bold tracking-tight text-gray-900 text-3xl md:text-4xl">Vous avez un projet ?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 font-semibold text-gray-600">Nous concevons des sites internet uniques référencés sur les moteurs de recherche. Un conseiller vous rappelle en moins d'1h.</p>
            <div class="mt-6 flex -space-x-2 justify-center items-center">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_charles.webp" alt="Photo de profil Charles">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_abdel.webp" alt="Photo de profil Benoit">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_benjamin.webp" alt="Photo de profil Benjamin">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_lucie.webp" alt="Photo de profil Lucie">
            </div>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/contact" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Contactez-nous <span class="ml-2 mt-0.5" aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>
        
        <footer class="bg-white" aria-labelledby="footer-heading">
            <h2 id="footer-heading" class="sr-only">Footer</h2>
            <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
                <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                    <div class="space-y-6">
                        <img class="h-8" src="/media/logo/logo_WebLevel_long.webp" alt="WebLevel agency logo">
                                                                                                <p class="text-sm leading-6 text-gray-600"><strong class="font-normal">Agence digitale spécialisée dans la création de sites internet et le référencement SEO</strong>, à Paris, Lyon et Genève.</p>
                        <div class="flex space-x-6">
                            <a href="https://www.sortlist.com/agency/WebLevel" target="_blank" style="display:inline-block; width:160px; height:40px;"><img src="/media/site/sortlist.webp" alt="sortlist"/></a>
                        </div>
                    </div>
                    <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-semibold leading-6 text-gray-900">Menu</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/Création de Site Webn de Site Web" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition dCréation de Site Web-200">Création de Site Web</a>
                                    </li>
                                    <li>
                                        <a href="/creation-site-webbte-web" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Projets</a>
                                    </li>
                                    <li>
                                        <a href="/expertises" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Expertises</a>
                                    </li>
                                    <li>
                                        <a href="/projets" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Projets</a>
                                    </li>
                                    <li>
                                        <a href="/blog" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-semibold leading-6 text-gray-900">Ressources</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/contact" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Contactez-nous</a>
                                    </li>
                                                                            <li>
                                            <a href="/connexion" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Connexion</a>
                                        </li>
                                        <li>
                                            <a href="/inscription" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Inscription</a>
                                        </li>
                                                                    </ul>
                            </div>
                        </div>
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-bold leading-6 text-gray-900">Légal</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/mentions-legales" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Mentions légales</a>
                                    </li>
                                    <li>
                                        <a href="/cgv" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">CGV</a>
                                    </li>
                                    <li>
                                        <a href="/cgu" class="text-WebLevel hover:text-WebLevel-hover text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">CGU</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-bold leading-6 text-gray-900">Création de Site Webn de Site Web</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/agence/paris/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Paris</a>
                                    </li>
                                    <li>
                                        <a href="/agence/lyon/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Lyon</a>
                                    </li>
                                    <li>
                                        <a href="/agence/geneve/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Genève</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
                    <p class="text-xs leading-5 text-gray-500">&copy; 2019 - 2024 WebLevel Agency. Tous droits réservés. <a href="/sitemap" class="hover:text-gray-400 transition duration-200">Sitemap</a></p>
                </div>
            </div>
        </footer>
    </body>
    <script>
        window.axeptioSettings = {
            clientId: "64cf6e276b3b964999d70144",
            cookiesVersion: "WebLevel-fr",
        };

        (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
</html>
