<!DOCTYPE html>
<html lang="FR">
    <head>
        <link rel="canonical" href="https://weblevel.frv" />

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KDGT7WQ');
        </script>

        <!-- Main -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow"/>

        <title>WebLevel Agency - Conditions générales de vente</title>
        <meta name="description" content="Conditions générales de vente de WebLevel Agency à Paris, Lyon et Genève.">

        <!-- OpenGraph -->
        <meta property="og:title" content="Conditions générales de vente">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://weblevel.frv">
        <meta property="og:image" content="/media/site/WebLevel_banniere.webp">
        <meta property="og:image:alt" content="WebLevel CGV"/>
        <meta property="og:description" content="">

        <!-- Favicon -->
        <link rel="icon" type="image/webp" href="/media/logo/favicon.webp" sizes="32x32">

        <!-- CSS/JS -->
        <script src="https://cdn.tailwindcss.com"></script><script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "WebSite",
                "name": "WebLevel Agency",
                "url": "https://weblevel.fr
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": "{search_term_string}",
                    "query-input": "required name=search_term_string"
                }
            }
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-236329277-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-236329277-1');
        </script>
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDGT7WQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>

        <section class="gap-x-6 bg-WebLevel-light-purple px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    <p class="text-sm leading-6 text-gray-900 text-center">
        <a href="/contact">
            <span class="font-semibold">Support</span><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"> <circle cx="1" cy="1" r="1" /></svg><strong class="font-normal">Un expert web et SEO vous rappelle en moins d'1h</strong><span aria-hidden="true" class="ml-1"> &rarr;</span>
        </a>
    </p>
</section>        <header class="header bg-white z-10 navbar shadow-sm">
            <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-7" aria-label="Global">
                <div class="flex items-center gap-x-12">
                    <a href="/" class="-m-1.5 p-1.5">
                        <span class="sr-only">WebLevel</span>
                        <img class="h-8 w-auto" src="/media/logo/logo_WebLevel.webp" alt="WebLevel agency logo">
                    </a>
                    <div class="hidden lg:flex lg:gap-x-12">
                        <a href="/Création de Site Webn de Site Web" class=" font-semibold text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition dCréation de Site Web-200">Création de Site Web</a>
                        <a href="/expertises" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover duration-200">Expertises</a>
                        <a href="/creation-site-webbte-web" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover  duration-200">Projets>
                        <a href="/projets" class="s="s=" font-semibold text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition duration-200">Projets</a>
                        <a href="/blog" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition duration-200">Blog</a>
                    </div>
                </div>
                <div class="hidden lg:flex space-x-4 items-center">
                                            <a href="tel:0649221447" class="text-sm font-semibold leading-6 text-gray-900 bg-WebLevel-light-gray hover:bg-gray-200 transition duration-200 inline-flex border border-gray-200 py-3 px-4 rounded-full items-center justify-center">
                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-2">
                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                            </svg>
                            06 49 22 14 47
                        </a>
                                        <div class="inline-flex">
                        <a href="/contact" class="flex items-center text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">
                            Demander un devis
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                            </svg>
                        </a>
                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu open state. -->
                <div x-data="{ isOpen: false }" class="lg:hidden">
                    <div class="inline-flex gap-x-3">
                        <a href="tel:0649221447" class="text-sm font-semibold leading-6 text-gray-900 bg-WebLevel-light-gray hover:bg-gray-200 transition duration-200 inline-flex border border-gray-200 py-1.5 px-4 rounded-full items-center justify-center">
                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-2">
                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                            </svg>
                            06 49 22 14 47
                        </a>
                        <button @click="isOpen = true" type="button"  class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                            <span class="sr-only">Ouvrir le menu</span>
                            <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>
                    </div>
                    <div x-show="isOpen" role="dialog" aria-modal="true">
                        <div class="fixed inset-0 z-10"></div>
                        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                        <div class="flex items-center justify-between">
                            <a href="#" class="-m-1.5 p-1.5">
                                <span class="sr-only">WebLevel</span>
                                <img class="h-8 w-auto" src="/media/logo/logo_WebLevel.webp" alt="WebLevel agency logo mobile">
                            </a>

                                                                                    
                            <button @click="isOpen = false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                                <span class="sr-only">Fermer le menu</span>
                                <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                        <div class="mt-6 flow-root">
                            <div class="-my-6 divide-y divide-gray-500/10">
                                <div class="space-y-2 py-6">
                                    <a href="/Création de Site Webn de Site Web" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition dCréation de Site Web-200">Création de Site Web</a>
                                    <a href="/creation-site-webbte-web" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Projets>
                                    <a href="/expertises" class=" font-semibold  -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Expertises</a>
                                    <a href="/projets" class="s="s=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Projets</a>
                                    <a href="/blog" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Blog</a>
                                </div>
                                <div class="space-y-3 py-6">
                                    <a href="/contact" class="inline-flex w-full items-center justify-center rounded-full text-center px-3 py-2.5 text-base font-semibold leading-7 text-white bg-WebLevel transition duration-200 hover:bg-WebLevel-hover">Demander un devis
                                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                                        </svg>
                                    </a>
                                                                            <a href="tel:0649221447" class="inline-flex border border-gray-200 w-full items-center justify-center rounded-full px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 bg-WebLevel-light-gray transition duration-200 hover:bg-gray-200">
                                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mr-2 mt-1">
                                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                                            </svg>
                                            06 49 22 14 47
                                        </a>
                                                                    </div>
                            </div></div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

            <main>
        <section class="bg-WebLevel-dark-blue">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="py-20">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                        <div class="mx-auto max-w-3xl lg:mx-0">
                            <h1 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-5xl">Conditions générales de vente</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="px-6 py-24 lg:px-8">
                <div class="mx-auto max-w-7xl text-base leading-7 text-gray-700">
                    <p class="text-base font-normal leading-7 text-indigo-600">Dernière mise à jour : <span class="text-gray-900">25 août 2023</span></p>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="mt-8 text-2xl font-bold tracking-tight text-gray-900">Préambule</h2>
                        <p class="mt-6">WebLevel commercialise des prestations d’accompagnement de projets digitaux, notamment le développement web, le référencement et la communication (ci- après les « Services »).</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 1</span> - Objet</h2>
                        <p class="mt-6">Les présentes Conditions générales ont pour objet de régir les droits et obligations des parties relatives aux prestations fournies par la société WebLevel (ci-après « WebLevel ») au client, personne physique ou morale intervenant dans le cadre de son activité professionnelle (ci-après le « Client »).</p>
                        <p class="mt-6">Le Client reconnaît avoir pris connaissance et accepter sans réserve les présentes conditions générales, lesquelles constituent les conditions essentielles et déterminantes de la relation contractuelle entre les parties et prévalent sur toutes conditions générales d'achat et tout autre document émanant du Client, quels qu'en soient les termes.</p>
                        <p class="mt-6">Ainsi, toute commande de prestation passée par le Client implique l’accord définitif et irrévocable du Client sur l’ensemble des conditions générales présentées ci-après.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 2</span> - Commandes</h2>
                        <p class="mt-6">Les devis établis par WebLevel sont valables pendant une durée de quinze (15) jours.</p>
                        <p class="mt-6">Les commandes ne seront prises en compte par WebLevel qu’à compter de la réception du devis signé par le Client portant la mention “bon pour accord” et du paiement de l’acompte.</p>
                        <p class="mt-6">En outre, il appartient au Client de transmettre tous documents nécessaires à WebLevel pour l’accomplissement de ses prestations.</p>
                        <p class="mt-6">Toute modification de la commande par le Client ne sera prise en compte que si elle est parvenue à WebLevel par écrit avant le début d'exécution de la prestation et si elle ne se heurte à aucun obstacle technique et/ou contrainte de délais.</p>
                        <p class="mt-6">Les modifications postérieures à la commande pourront, provoquer un surcoût qui sera indiqué au Client pour acceptation et/ou provoquer un retard de livraison de la commande en cause.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 3</span> - Contenu des prestations</h2>
                        <p class="mt-6">WebLevel propose des prestations d’accompagnement de projets digitaux, notamment des prestations : de développement web (reprise ou création de site web, maintenance et évolution) de référencement internet (SEO/SEA, réseaux sociaux, ...) et de communication digitale (stratégie de communication, création d’identité visuelle, branding, ...).</p>
                        <p class="mt-6">Les différentes prestations proposées spécifiquement par WebLevel au Client sont détaillées dans le devis.</p>
                        <p class="mt-6">WebLevel se réserve le droit de sous-traiter à un tiers une partie des prestations, sous sa propre responsabilité.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 4</span> - Engagement et responsabilité du client</h2>
                        <p class="mt-6">Le Client s'engage à collaborer activement à la bonne réalisation du projet en transmettant à WebLevel, en temps utile, des informations justes et sincères et l’ensemble des données et documents nécessaires à l’avancée du projet. Il s’engage à prévenir WebLevel de tout changement concernant les données fournies. Il sera seul responsable des éventuels inexécutions ou retards qui pourraient résulter d'informations erronées.</p>
                        <p class="mt-6">Le Client fournit à WebLevel tous les éléments documentaires, graphiques et textuels nécessaires à la bonne réalisation des prestations (notamment dans les bons formats exploitables en fonction des supports visés) et sera seul responsable de la conformité du contenu des éléments fournis aux lois et règlements en vigueur.</p>
                        <p class="mt-6">Le Client déclare et atteste être titulaire des droits de propriété intellectuelle nécessaires sur les éléments fournis à WebLevel pour la réalisation de ses prestations, et garantit WebLevel contre toute action de tiers relative aux éléments et données fournies, seule la responsabilité du Client pouvant être recherché à ce titre.</p>
                        <p class="mt-6">Aussi, lorsque le Client est à l’origine d’un nom, il lui appartient de s’assurer de sa disponibilité en effectuant une recherche d’antériorités, la responsabilité de WebLevel ne pouvant être recherchée à ce titre.</p>
                        <p class="mt-6">Le Client s’engage à relever et garantir WebLevel en cas de litige subséquent aux éléments susvisés.</p>
                        <p class="mt-6">Le Client s’engage à régler, dans les délais convenus, les sommes dues à WebLevel.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 5</span> - Engagement et responsabilité de WebLevel</h2>
                        <p class="mt-6">WebLevel s’engage, au titre d’une obligation de moyens, à consacrer le temps et les moyens humains, matériels et techniques nécessaires à la réalisation des prestations choisies par le Client et à les exécuter de manière professionnelle et conformément aux règles de l’art et sous réserve du bon accomplissement par le Client de ses propres obligations.</p>
                        <p class="mt-6">En aucun cas, WebLevel ne pourra être tenue responsable pour les besoins que le Client n’a pas exprimés.</p>
                        <p class="mt-6">WebLevel s’engage à informer de manière régulière le Client de l’avancée du projet et de toute difficulté dont il aurait connaissance et des conséquences, notamment en termes de délai et/ou de coût, dont il pourrait en résulter.</p>
                        <p class="mt-6">WebLevel s’engage à remettre au Client les livrables tels qu’ils sont définis dans le devis.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 6</span> - Délais de réalisation</h2>
                        <p class="mt-6">Les délais indiqués sur le devis ne sont donnés qu’à titre indicatif, sauf mention contraire. Par conséquent, les retards de livraisons imputables à WebLevel ne peuvent donner lieu à aucune pénalité ou indemnité ni motiver la révision du prix ou l'annulation ou le refus de la commande par le Client.</p>
                        <p class="mt-6">En toute hypothèse, dans le cas d’un retard occasionné par des modifications demandées par le Client, l’attente d’informations du Client, ou des problèmes liés à des produits tiers (logiciels, informatiques...), la date de livraison sera reportée en conséquence, sans que WebLevel ne puisse être tenu responsable de ce retard.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 7</span> - Planning de réalisation des prestation</h2>
                        <p class="mt-6">Le Client s’engage à respecter les délais prévus au sein du planning initial et à répondre à WebLevel avec la plus grande diligence lors de l’exécution de la mission.</p>
                        <p class="mt-6">Tout retard du Client dans la communication avec WebLevel sera susceptible d’engendrer un retard global du projet et/ou un surcoût facturé par WebLevel .</p>
                        <p class="mt-6">En tout état de cause, tout retard du projet imputable au Client <span class="font-bold">ne modifiera pas le calendrier de paiement initialement prévu</span> ainsi que le Client reste tenu au paiement de chaque facture conformément au calendrier initial.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 8</span> - Maitenance - hébergement</h2>
                        <p class="mt-6">La maintenance correspond à la mise à jour et la résolution de bugs (responsive design).</p>
                        <p class="mt-6">Lorsqu’il est prévu au devis initial une prestation de maintenance d’un (1) an, celle-ci ne trouve à s’appliquer qu’à la condition que le Client n’ait réalisé aucune modification ni n’ait laissé aucun tiers accéder aux outils.</p>
                        <p class="mt-6">Toute modification réalisée par le Client par le Client ou un tiers viendra mettre un terme définitif et rendra nul et non avenu l’engagement de maintenance de la société WebLevel.</p>
                        <p class="mt-6">Lorsque la société WebLevel réserve l’hébergement du site web pour le compte du Client, le Client est informé que la durée de la prestation d’hébergement initiale d’un (1) an débute dès le commencement de la Prestation par WebLevel et non pas à la livraison du site web.</p>
                        <p class="mt-6">Ainsi le Client ne bénéficie pas d’un (1) an d’hébergement à compter de la livraison de son site web mais bien un (1) an à compter du début de la réalisation du site web par WebLevel.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 9</span> - Tarifs et paiement</h2>
                        <p class="mt-6 font-semibold">• Tarifs</p>
                        <p class="mt-6">Les différentes prestations sont facturées selon les tarifs indiqués dans le devis. Ils s’entendent en euros, net et hors toutes taxes et droits.</p>
                        <p class="mt-6">Si le taux de TVA applicable était amené à évoluer, entre le devis et la facturation, cette évolution sera répercutée sur le Client, le montant TTC de la facture étant modifiée en conséquence.</p>
                        <p class="mt-6 font-semibold">• Paiement</p>
                        <p class="mt-6">Le paiement s'effectue par virement bancaire.</p>
                        <p class="mt-6">Toute commande est soumise au paiement préalable de trente (30) % d’acompte. Seul le versement de l’acompte confirme la commande.</p>
                        <p class="mt-6">La société WebLevel émet ensuite des factures correspondant
                            aux Prestations.</p>
                        <p class="mt-6">Le Client est informé que les Prestations de référencement (SEO) sont facturées intégralement au moment de la livraison du site internet lorsqu’elles accompagnent une création et au début de la prestation de SEO pour les prestations seules.</p>
                        <p class="mt-6">Les paiements anticipés ne font pas l’objet d’escompte, sauf convention particulière.</p>
                        <p class="mt-6">En cas de retard de paiement total ou partiel, pour quelque cause que ce soit, il sera fait application d'une pénalité de retard d'un montant équivalent à celui de trois fois le taux d’intérêt légal par jour de retard, sans qu'un rappel soit nécessaire conformément à l’article L 441-6 du Code de commerce.</p>
                        <p class="mt-6">Il sera également fait application au Client d’une indemnité forfaitaire pour frais de recouvrement dont le montant est fixé à 40 euros. Toutefois, dans l’hypothèse où les frais de recouvrement exposés sont supérieurs à 40 euros, WebLevel pourra demander une indemnisation complémentaire, sur justification.</p>
                        <p class="mt-6">En outre, WebLevel se réserve le droit de suspendre toute prestation tant que l’ensemble des factures échues n’a pas été réglé.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 10</span> - Droits de propriété intellectuelle</h2>
                        <p class="mt-6 font-semibold">• Éléments apportés par le Client</p>
                        <p class="mt-6">Lorsque le Client fournit à WebLevel des éléments documentaires, graphiques et textuels à apposer sur des Prestations, il est le seul responsable de la conformité du contenu des éléments fournis aux lois et règlements en vigueur.</p>
                        <p class="mt-6">Le Client déclare et atteste être titulaire des droits de propriété intellectuelle nécessaires sur les éléments qu’il transmet à WebLevel pour la réalisation de ses prestations.</p>
                        <p class="mt-6">Le Client garantit WebLevel contre toute action de tiers relative aux éléments et données fournies, seule la responsabilité du Client pouvant être recherché à ce titre.</p>
                        <p class="mt-6 font-semibold">• Référence</p>
                        <p class="mt-6">Il est expressément entendu entre les Parties que WebLevel peut faire référence aux créations réalisées ainsi qu’à l’identité du Client pour la promotion de son activité.</p>
                        <p class="mt-6 font-semibold">• Droit d’auteur</p>
                        <p class="mt-6">La société WebLevel conserve la titularité pleine et entière des droits de propriété intellectuelle sur les Prestations. Par dérogation, toute cession des droits de propriété intellectuelle convenue entre les Parties fera l’objet d’un contrat écrit en bonne et due forme.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 11</span> - Responsabilité</h2>
                        <p class="mt-6">En toute hypothèse, la responsabilité de WebLevel est exclue pour les dommages indirects ou imprévisibles subis par le Client et notamment, mais non limitativement tout préjudice financier ou commercial, perte de chiffre d’affaires, de bénéfice, de données, de commande ou de clientèle....</p>
                        <p class="mt-6">WebLevel n’est pas responsable de l’usage qui sera fait par le Client des Prestations.</p>
                        <p class="mt-6">En tout état de cause, lorsque la responsabilité de WebLevel pourra être engagée par le Client, elle sera strictement limitée, toutes causes confondues, au montant dû par le Client WebLevel au titre des prestations comprises dans la commande litigieuse.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 12</span> - Confidentialité</h2>
                        <p class="mt-6">Les Parties s’engagent à ne pas divulguer les informations confidentielles de l’autre partie dont elles ont pu avoir à connaître dans le cadre de l’exécution des Prestations de WebLevel et/ou pour l’application des présentes. En particulier, les Parties s’engagent à respecter strictement cette confidentialité et à ne communiquer à quiconque la moindre information non publique dont elles auraient connaissance, tant pendant la durée du contrat qu'après son expiration pendant une durée de cinq (5) années.</p>
                        <p class="mt-6">N’est pas considérée comme confidentielle l’information publiquement disponible à l’époque de la divulgation ou qui devient ultérieurement disponible sans manquement de l’une des Parties à son obligation de confidentialité ou légitimement obtenue d’un tiers sans qu’il y ait eu violation par ce dernier d’un accord de confidentialité concernant cette information.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 13</span> - Données personelles</h2>
                        <p class="mt-6">WebLevel s’engage à respecter les réglementations françaises et européennes en matière de gestion et de protection des données personnelles.</p>
                        <p class="mt-6">Les données collectées pourront être, dans la mesure où cela s’avère nécessaire, transmises aux prestataires techniques (prestataires informatiques, hébergeurs, etc...) de WebLevel , uniquement dans l’optique de la réalisation des Prestations et/ou de la prospection commerciale de WebLevel .</p>
                        <p class="mt-6">WebLevel s’engage à ne pas transmettre les données à des tiers. Les données des Clients sont stockées et conservées pour une durée de cinq (5) années à compter de la fin de la dernière Prestation effectuée auprès du Client.</p>
                        <p class="mt-6">Les données concernant les Prestations sont conservées deux (2) ans.</p>
                        <p class="mt-6">Pour toute question ou demande relative à la protection des données, le Client pourra contacter WebLevel : contact@WebLevel .agency</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 14</span> - Force Majeure</h2>
                        <p class="mt-6">La responsabilité de WebLevel ne pourra être recherchée pour tout retard ou manquement dans l’exécution de ses prestations résultant d’un cas de force majeure, notamment en cas de maladie ou décès de l’un de ses collaborateurs.</p>
                        <p class="mt-6">L’exécution des obligations incombant à WebLevel sera suspendue par la survenance d’un événement constitutif de force majeure et WebLevel informera dans les meilleurs délais et par écrit le Client de la durée de l’évènement de force majeure et de ses conséquences prévisibles.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 15</span> - Divisibilité contractuelle et non-renonciation</h2>
                        <p class="mt-6">Le fait que WebLevel ne se prévale pas, à un moment quelconque, d'une prérogative reconnue par les présentes conditions générales ne saurait être interprété comme valant renonciation par cette dernière à se prévaloir ultérieurement de la prérogative correspondante.</p>
                        <p class="mt-6">La nullité en tout ou partie d'une clause des présentes conditions générales serait sans influence sur le reste de cette clause et l'ensemble des conditions générales.</p>
                    </div>
                    <div class="mt-16 max-w-7xl">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><span class="text-WebLevel">Article 16</span> - Droits applicable - Compétence juridictionnelle</h2>
                        <p class="mt-6">Les présentes conditions générales sont soumises au droit français.</p>
                        <p class="mt-6">En cas de litige et après une tentative de recherche d’une solution amiable, compétence expresse est attribuée aux tribunaux compétents du ressort du siège social de WebLevel lorsque le Client a la qualité de commerçant, nonobstant pluralité de défendeurs ou appel en garantie, même pour les procédures d’urgence ou les procédures conservatoires, en référé ou sur requête.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

                    <section class="bg-WebLevel-light-purple">
    <div class="px-6 py-20 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="font-bold tracking-tight text-gray-900 text-3xl md:text-4xl">Vous avez un projet ?</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 font-semibold text-gray-600">Nous concevons des sites internet uniques référencés sur les moteurs de recherche. Un conseiller vous rappelle en moins d'1h.</p>
            <div class="mt-6 flex -space-x-2 justify-center items-center">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_charles.webp" alt="Photo de profil Charles">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_abdel.webp" alt="Photo de profil Benoit">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_benjamin.webp" alt="Photo de profil Benjamin">
                <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" src="/media/site/WebLevel_lucie.webp" alt="Photo de profil Lucie">
            </div>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/contact" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Contactez-nous <span class="ml-2 mt-0.5" aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>
        
        <footer class="bg-white" aria-labelledby="footer-heading">
            <h2 id="footer-heading" class="sr-only">Footer</h2>
            <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
                <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                    <div class="space-y-6">
                        <img class="h-8" src="/media/logo/logo_WebLevel_long.webp" alt="WebLevel agency logo">
                                                                                                <p class="text-sm leading-6 text-gray-600"><strong class="font-normal">Agence digitale spécialisée dans la création de sites internet et le référencement SEO</strong>, à Paris, Lyon et Genève.</p>
                        <div class="flex space-x-6">
                            <a href="https://www.sortlist.com/agency/WebLevel" target="_blank" style="display:inline-block; width:160px; height:40px;"><img src="/media/site/sortlist.webp" alt="sortlist"/></a>
                        </div>
                    </div>
                    <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-semibold leading-6 text-gray-900">Menu</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/Création de Site Webn de Site Web" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition dCréation de Site Web-200">Création de Site Web</a>
                                    </li>
                                    <li>
                                        <a href="/creation-site-webbte-web" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Projets>
                                    </li>
                                    <li>
                                        <a href="/expertises" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Expertises</a>
                                    </li>
                                    <li>
                                        <a href="/projets" class="s="s=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Projets</a>
                                    </li>
                                    <li>
                                        <a href="/blog" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-semibold leading-6 text-gray-900">Ressources</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/contact" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Contactez-nous</a>
                                    </li>
                                                                            <li>
                                            <a href="/connexion" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Connexion</a>
                                        </li>
                                        <li>
                                            <a href="/inscription" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Inscription</a>
                                        </li>
                                                                    </ul>
                            </div>
                        </div>
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-bold leading-6 text-gray-900">Légal</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/mentions-legales" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Mentions légales</a>
                                    </li>
                                    <li>
                                        <a href="/cgv" class="text-WebLevel hover:text-WebLevel-hover text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">CGV</a>
                                    </li>
                                    <li>
                                        <a href="/cgu" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">CGU</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-bold leading-6 text-gray-900">Création de Site Webn de Site Web</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/agence/paris/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Paris</a>
                                    </li>
                                    <li>
                                        <a href="/agence/lyon/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Lyon</a>
                                    </li>
                                    <li>
                                        <a href="/agence/geneve/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Genève</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
                    <p class="text-xs leading-5 text-gray-500">&copy; 2019 - 2024 WebLevel Agency. Tous droits réservés. <a href="/sitemap" class="hover:text-gray-400 transition duration-200">Sitemap</a></p>
                </div>
            </div>
        </footer>
    </body>
    <script>
        window.axeptioSettings = {
            clientId: "64cf6e276b3b964999d70144",
            cookiesVersion: "WebLevel-fr",
        };

        (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
</html>
