<!DOCTYPE html>
<html lang="FR">
    <head>
        <link rel="canonical" href="https://weblevel.frntact" />

        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KDGT7WQ');
        </script>

        <!-- Main -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow"/>

        <title>WebLevel Agency - Contactez-nous</title>
        <meta name="description" content="Contactez-nous via le formulaire, un expert technique vous rappelle en moins d’1h. Devis sous 24 heures.">

        <!-- OpenGraph -->
        <meta property="og:title" content="Contactez-nous">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://weblevel.frntact">
        <meta property="og:image" content="/media/site/WebLevel_banniere.webp">
        <meta property="og:image:alt" content="WebLevel contact"/>
        <meta property="og:description" content="Contactez-nous via le formulaire, un expert technique vous rappelle en moins d’1h. Devis sous 24 heures.">

        <!-- Favicon -->
        <link rel="icon" type="image/webp" href="/media/logo/favicon.webp" sizes="32x32">

        <!-- CSS/JS -->
        <script src="https://cdn.tailwindcss.com"></script><script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "WebSite",
                "name": "WebLevel Agency",
                "url": "https://weblevel.fr
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": "{search_term_string}",
                    "query-input": "required name=search_term_string"
                }
            }
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-236329277-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-236329277-1');
        </script>
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDGT7WQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>

        <section class="gap-x-6 bg-WebLevel-light-purple px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
    <p class="text-sm leading-6 text-gray-900 text-center">
        <a href="/contact">
            <span class="font-semibold">Support</span><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"> <circle cx="1" cy="1" r="1" /></svg><strong class="font-normal">Un expert web et SEO vous rappelle en moins d'1h</strong><span aria-hidden="true" class="ml-1"> &rarr;</span>
        </a>
    </p>
</section>        <header class="header bg-white z-10 navbar shadow-sm">
            <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-7" aria-label="Global">
                <div class="flex items-center gap-x-12">
                    <a href="/" class="-m-1.5 p-1.5">
                        <span class="sr-only">WebLevel</span>
                        <img class="h-8 w-auto" src="/media/logo/logo_WebLevel.webp" alt="WebLevel agency logo">
                    </a>
                    <div class="hidden lg:flex lg:gap-x-12">
                        <a href="/Création de Site Webn de Site Web" class=" font-semibold text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition dCréation de Site Web-200">Création de Site Web</a>
                        <a href="/expertises" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover duration-200">Expertises</a>
                        <a href="/creation-site-webbte-web" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover  duration-200">Projets</a>
                        <a href="/projets" class="s=" font-semibold text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition duration-200">Projets</a>
                        <a href="/blog" class=" font-semibold  text-sm leading-6 text-gray-900 hover:text-WebLevel-hover transition duration-200">Blog</a>
                    </div>
                </div>
                <div class="hidden lg:flex space-x-4 items-center">
                                            <a href="tel:0649221447" class="text-sm font-semibold leading-6 text-gray-900 bg-WebLevel-light-gray hover:bg-gray-200 transition duration-200 inline-flex border border-gray-200 py-3 px-4 rounded-full items-center justify-center">
                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-2">
                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                            </svg>
                            06 49 22 14 47
                        </a>
                                        <div class="inline-flex">
                        <a href="/contact" class="flex items-center text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">
                            Demander un devis
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                            </svg>
                        </a>
                    </div>
                </div>

                <!-- Mobile menu, show/hide based on menu open state. -->
                <div x-data="{ isOpen: false }" class="lg:hidden">
                    <div class="inline-flex gap-x-3">
                        <a href="tel:0649221447" class="text-sm font-semibold leading-6 text-gray-900 bg-WebLevel-light-gray hover:bg-gray-200 transition duration-200 inline-flex border border-gray-200 py-1.5 px-4 rounded-full items-center justify-center">
                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mt-1 mr-2">
                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                            </svg>
                            06 49 22 14 47
                        </a>
                        <button @click="isOpen = true" type="button"  class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                            <span class="sr-only">Ouvrir le menu</span>
                            <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>
                    </div>
                    <div x-show="isOpen" role="dialog" aria-modal="true">
                        <div class="fixed inset-0 z-10"></div>
                        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                        <div class="flex items-center justify-between">
                            <a href="#" class="-m-1.5 p-1.5">
                                <span class="sr-only">WebLevel</span>
                                <img class="h-8 w-auto" src="/media/logo/logo_WebLevel.webp" alt="WebLevel agency logo mobile">
                            </a>

                                                                                    
                            <button @click="isOpen = false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                                <span class="sr-only">Fermer le menu</span>
                                <svg class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                        <div class="mt-6 flow-root">
                            <div class="-my-6 divide-y divide-gray-500/10">
                                <div class="space-y-2 py-6">
                                    <a href="/Création de Site Webn de Site Web" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition dCréation de Site Web-200">Création de Site Web</a>
                                    <a href="/creation-site-webbte-web" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Projets</a>
                                    <a href="/expertises" class=" font-semibold  -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Expertises</a>
                                    <a href="/projets" class="s=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Projets</a>
                                    <a href="/blog" class=" font-semibold -mx-3 block rounded-lg px-3 py-2 text-base leading-7 text-gray-900 hover:bg-gray-100 transition duration-200">Blog</a>
                                </div>
                                <div class="space-y-3 py-6">
                                    <a href="/contact" class="inline-flex w-full items-center justify-center rounded-full text-center px-3 py-2.5 text-base font-semibold leading-7 text-white bg-WebLevel transition duration-200 hover:bg-WebLevel-hover">Demander un devis
                                        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
                                        </svg>
                                    </a>
                                                                            <a href="tel:0649221447" class="inline-flex border border-gray-200 w-full items-center justify-center rounded-full px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 bg-WebLevel-light-gray transition duration-200 hover:bg-gray-200">
                                            <svg viewBox="0 0 32 32" fill="currentColor" class="w-5 h-5 mr-2 mt-1">
                                                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
                                            </svg>
                                            06 49 22 14 47
                                        </a>
                                                                    </div>
                            </div></div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

            <main>
        <section class="relative isolate bg-WebLevel-dark-blue">
            <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
                <div class="relative px-6 pb-20 pt-24 sm:pt-32 lg:static lg:px-8 lg:py-48">
                    <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
                        <svg width="150" class="mb-10" viewBox="0 0 1209 505" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_5_421)">
                                <path d="M3 293.381C107.416 314.797 58.4543 458.525 134.983 496.773C226.325 542.427 257.778 285.386 245.892 176.284C242.486 128.447 186.777 107.17 179.262 176.284C171.279 249.7 262.389 534.384 366.805 424.532L436.523 343.879C455.895 320.013 494.084 286.856 526.357 343.879C558.628 400.9 610.051 382.057 631.73 365.506L699.85 315.965" stroke="#E9E3F6" stroke-width="5" stroke-linecap="round"/>
                                <path d="M650.221 96.7363L1205.21 2.72351C1206.19 2.55629 1206.79 3.78255 1206.04 4.45254L944.121 240.337C944.047 240.403 943.971 240.455 943.88 240.496C921.923 250.399 830.42 213.699 786.296 193.618C785.736 193.363 785.105 193.681 784.94 194.274C773.496 235.37 758.92 273.854 752.71 288.826C752.53 289.259 752.08 289.501 751.638 289.345C736.41 283.989 734.811 203.948 735.96 163.104C735.974 162.59 735.608 162.172 735.099 162.099C701.561 157.305 653.694 126.314 633.798 111.288" stroke="white" stroke-width="5" stroke-linecap="round"/>
                                <path d="M787.342 195.059C844.491 167.97 989.068 100.124 1110.18 45.4531" stroke="white" stroke-width="5" stroke-linecap="round"/>
                                <path d="M751.908 289.551L858.207 226.559" stroke="white" stroke-width="5" stroke-linecap="round"/>
                                <path d="M775.53 139.943L921.2 92.6992" stroke="white" stroke-width="5" stroke-linecap="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_5_421">
                                    <rect width="1209" height="505" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">On vous rappelle</h1>
                        <p class="mt-6 text-lg leading-8 text-white">Ce formulaire prend <span class="text-WebLevel-hover font-bold">1 minute</span> à remplir et permet de gagner 10 minutes au téléphone.</p>
                        <dl class="mt-10 space-y-4 text-base leading-7 text-white">
                            <div class="flex gap-x-4">
                                <dt class="flex-none">
                                    <span class="sr-only">Adresses</span>
                                    <svg class="h-7 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z" />
                                    </svg>
                                </dt>
                                <dd>Paris - Lyon - Genève</dd>
                            </div>
                            <div class="flex gap-x-4">
                                <dt class="flex-none">
                                    <span class="sr-only">Telephone</span>
                                    <svg class="h-7 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                                    </svg>
                                </dt>
                                <dd><a class="hover:text-WebLevel-text-gray transition duration-200" href="tel:+33(0)159063710">+33 (0)1 59 06 37 10</a><br/></dd>
                            </div>
                            <div class="flex gap-x-4">
                                <dt class="flex-none">
                                    <span class="sr-only">Email</span>
                                    <svg class="h-7 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                                    </svg>
                                </dt>
                                <dd>contact@weblevel.frd>
                            </div>
                        </dl>
                    </div>
                </div>
                <form name="contact" method="post">
                <div class="mx-auto max-w-xl lg:max-w-lg bg-white sm:mt-10 p-10 mb-10 sm:rounded-lg">
                                         <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                        <div>
                            <label class="block text-sm font-semibold leading-6 text-gray-900">Nom complet</label>
                            <div class="mt-2.5">
                                                                    <input type="text" id="contact_fullName" name="contact[fullName]" required="required" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-WebLevel sm:text-sm sm:leading-6" />
                                                            </div>
                            <div class="mt-2 text-red-600 text-sm">
                                
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-semibold leading-6 text-gray-900">Société</label>
                            <div class="mt-2.5">
                                                                    <input type="text" id="contact_society" name="contact[society]" maxlength="20" pattern=".{2,}" placeholder="(optionel)" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-WebLevel sm:text-sm sm:leading-6" />
                                                            </div>
                            <div class="mt-2 text-red-600 text-sm">
                                
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-semibold leading-6 text-gray-900">E-mail</label>
                            <div class="mt-2.5">
                                                                    <input type="email" id="contact_email" name="contact[email]" required="required" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-WebLevel sm:text-sm sm:leading-6" />
                                                            </div>
                            <div class="mt-2 text-red-600 text-sm">
                                
                            </div>
                        </div>
                        <div>
                            <label class="block text-sm font-semibold leading-6 text-gray-900">Téléphone</label>
                            <div class="mt-2.5">
                                                                    <input type="text" id="contact_phoneNumber" name="contact[phoneNumber]" required="required" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-WebLevel sm:text-sm sm:leading-6" />
                                                            </div>
                            <div class="mt-2 text-red-600 text-sm">
                                
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label class="block text-sm font-semibold leading-6 text-gray-900">Vous avez une idée du pack qui vous convient ?</label>
                            <div class="mt-2.5">
                                                                    <select id="contact_pack" name="contact[pack]" required="required" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-WebLevel sm:text-sm sm:leading-6"><option value="" selected="selected">Sélectionnez votre pack...</option><option value="Starter">Starter - À partir de 2 290€/TTC</option><option value="Develop">Develop - À partir de 4 990€/TTC</option><option value="Custom">Custom - Sur devis</option><option value="Je ne sais pas">Je ne sais pas, j&#039;ai besoin de conseils</option></select>
                                                            </div>
                            <div class="mt-2 text-red-600 text-sm">
                                
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label class="block text-sm font-semibold leading-6 text-gray-900">Quand souhaitez-vous commencer le projet ?</label>
                            <div class="mt-2.5">
                                                                    <select id="contact_startProject" name="contact[startProject]" required="required" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-WebLevel sm:text-sm sm:leading-6"><option value="" selected="selected">Sélectionnez le début de projet...</option><option value="Le plus tôt possible">Le plus tôt possible</option><option value="Prochaines semaines">Dans les prochaines semaines</option><option value="Quelques mois">D&#039;ici quelques mois</option><option value="Aucune idée">Aucune idée, je souhaite me renseigner</option></select>
                                                            </div>
                            <div class="mt-2 text-red-600 text-sm">
                                
                            </div>
                        </div>
                        <div class="sm:col-span-2">
                            <label class="block text-sm font-semibold leading-6 text-gray-900">Quel est le budget estimé pour votre projet ?</label>
                            <div class="mt-2.5">
                                                                    <select id="contact_budget" name="contact[budget]" required="required" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-WebLevel sm:text-sm sm:leading-6"><option value="" selected="selected">Sélectionnez votre budget...</option><option value="Entre 2 290 et 5 000€">Entre 2 290 et 5 000€</option><option value="Entre 5 000 et 10K€">Entre 5 000 et 10K€</option><option value="Entre 10K et 25K">Entre 10K et 30K€</option><option value="Au dessus de 25K">Au dessus de 30K€</option></select>
                                                            </div>
                            <div class="mt-2 text-red-600 text-sm">
                                
                            </div>
                        </div>

                        <div class="sm:col-span-2">
                            <label class="block text-sm font-semibold leading-6 text-gray-900">Vous avez d’autres infos à nous partager ?</label>
                            <div class="mt-2.5">
                                                                    <textarea id="contact_additionalInformation" name="contact[additionalInformation]" placeholder="(optionel)" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-WebLevel sm:text-sm sm:leading-6"></textarea>
                                                            </div>
                            <div class="mt-2 text-red-600 text-sm">
                                
                            </div>
                        </div>
                        <div class="sm:col-span-2 flex items-center">
                                                            <input type="checkbox" id="contact_consent" name="contact[consent]" required="required" class="h-4 w-4 rounded border-gray-300 text-indigo-WebLevel focus:ring-WebLevel" value="1" />
                                                        <label class="ml-3 block text-sm leading-6 text-gray-400"><label for="contact_consent" class="required">En cochant cette case, j&#039;accepte que les informations saisies soient utilisées dans le cadre de la prise de contact.</label></label>
                        </div>
                    </div>
                    <div class="mt-2 text-red-600 text-sm">
                        
                    </div>
                    <div class="mt-8 flex justify-end">
                        <button type="submit" class="text-sm bg-WebLevel hover:bg-WebLevel-hover transition duration-200 py-3 px-4 rounded-full font-semibold leading-6 text-white">Envoyer</button>
                    </div>
                </div>
                <input type="hidden" id="contact__token" name="contact[_token]" value="5040e598a98.yiXvQ7gAh2_yanXOWSuPyFiw4EQH8Y44YWBm1t2RQRY.kGyBNOBV_wLLPxG6EFnCnB6CgRZjhcZyWQclkJ_CDVn-dKg73E7sWr0POA" /></form>
            </div>
        </section>
    </main>

        
        <footer class="bg-white" aria-labelledby="footer-heading">
            <h2 id="footer-heading" class="sr-only">Footer</h2>
            <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
                <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                    <div class="space-y-6">
                        <img class="h-8" src="/media/logo/logo_WebLevel_long.webp" alt="WebLevel agency logo">
                                                                                                <p class="text-sm leading-6 text-gray-600"><strong class="font-normal">Agence digitale spécialisée dans la création de sites internet et le référencement SEO</strong>, à Paris, Lyon et Genève.</p>
                        <div class="flex space-x-6">
                            <a href="https://www.sortlist.com/agency/WebLevel" target="_blank" style="display:inline-block; width:160px; height:40px;"><img src="/media/site/sortlist.webp" alt="sortlist"/></a>
                        </div>
                    </div>
                    <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-semibold leading-6 text-gray-900">Menu</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/Création de Site Webn de Site Web" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition dCréation de Site Web-200">Création de Site Web</a>
                                    </li>
                                    <li>
                                        <a href="/creation-site-webbte-web" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Projets</a>
                                    </li>
                                    <li>
                                        <a href="/expertises" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Expertises</a>
                                    </li>
                                    <li>
                                        <a href="/projets" class="s=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Projets</a>
                                    </li>
                                    <li>
                                        <a href="/blog" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Blog</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-semibold leading-6 text-gray-900">Ressources</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/contact" class="text-WebLevel hover:text-WebLevel-hover text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Contactez-nous</a>
                                    </li>
                                                                            <li>
                                            <a href="/connexion" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Connexion</a>
                                        </li>
                                        <li>
                                            <a href="/inscription" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Inscription</a>
                                        </li>
                                                                    </ul>
                            </div>
                        </div>
                        <div class="md:grid md:grid-cols-2 md:gap-8">
                            <div>
                                <h3 class="text-sm font-bold leading-6 text-gray-900">Légal</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/mentions-legales" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Mentions légales</a>
                                    </li>
                                    <li>
                                        <a href="/cgv" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">CGV</a>
                                    </li>
                                    <li>
                                        <a href="/cgu" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">CGU</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-10 md:mt-0">
                                <h3 class="text-sm font-bold leading-6 text-gray-900">Création de Site Webn de Site Web</h3>
                                <ul role="list" class="mt-6 space-y-4">
                                    <li>
                                        <a href="/agence/paris/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Paris</a>
                                    </li>
                                    <li>
                                        <a href="/agence/lyon/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Lyon</a>
                                    </li>
                                    <li>
                                        <a href="/agence/geneve/creation-site-internet" class=" text-sm leading-6 text-gray-600 hover:text-gray-500 transition duration-200">Genève</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-16 border-t border-gray-900/10 pt-8 sm:mt-20 lg:mt-24">
                    <p class="text-xs leading-5 text-gray-500">&copy; 2019 - 2024 WebLevel Agency. Tous droits réservés. <a href="/sitemap" class="hover:text-gray-400 transition duration-200">Sitemap</a></p>
                </div>
            </div>
        </footer>
    </body>
    <script>
        window.axeptioSettings = {
            clientId: "64cf6e276b3b964999d70144",
            cookiesVersion: "WebLevel-fr",
        };

        (function(d, s) {
            var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
            e.async = true; e.src = "//static.axept.io/sdk.js";
            t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
</html>
